@font-face {
  font-family: 'AkzidenzGroteskBQ';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/AkzidenzGroteskBQ-Reg.woff') format('truetype');
}
  
@font-face {
  font-family: 'AkzidenzGroteskBQ';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/AkzidenzGroteskBQ-Reg.woff2') format('truetype');
}

@font-face {
  font-family: 'AkzidenzGroteskBQ';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/AkzidenzGroteskBQ-Bold.woff') format('truetype');
}

@font-face {
  font-family: 'AkzidenzGroteskBQ';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/AkzidenzGroteskBQ-Bold.woff2') format('truetype');
}