<template>
  <div>
    <matchmaking-lobby-button @proceedToMatchmakingLobby="handleLobbyChange" />
    <team class="relative z-2" />
    <settings v-if="game.settings" class="mt-8" :settings="game.settings" />
    <play-now-button @play="handleLobbyChange" />
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import team from '~/components/personal/components/team'
import settings from '~/components/personal/components/settings'
import MatchmakingLobbyButton from '~/components/personal/components/matchmaking-lobby-button'
import PlayNowButton from '~/components/personal/components/play-now-button'
import { LOBBIES } from '~/utils/const'

export default {
  components: {
    team,
    settings,
    MatchmakingLobbyButton,
    PlayNowButton,
  },
  computed: {
    ...mapGetters('lobby', ['lobby']),
    ...mapGetters('game', ['game']),
  },
  methods: {
    ...mapActions('lobby', ['changeLobby']),
    ...mapActions('game', ['renderMatchmakingLobbyTemplate']),
    handleLobbyChange() {
      this.renderMatchmakingLobbyTemplate()
      this.changeLobby(LOBBIES.matchmaking)
    },
  },
}
</script>
