:root {
     --red-color: #E94235;
     --blue-color: #293894;
     --dark-gray-color: #1B1B1B;
     --light-gray-color: #6B6B65;
     --concrete-color: #CFD1C7;
     --sand-color: #DFE0D9;
     --white-color: #FFFFFF;
     --light-gray-gradient: linear-gradient(#E8E9E3, var(--concrete-color));
}