<template>
  <section class="relative matchmaking z-3" :class="{ _found: matchIsFound }">
    <h2 class="mb-6 callout-medium-light">Matchmaking Lobby</h2>
    <p class="mb-6 title-super-light">{{ matchmaking.title }}</p>
    <p class="mb-16 body-light">{{ matchmaking.text }}</p>
    <div class="flex items-center mb-10">
      <span class="mr-8 footnote-light">Lobby</span>
      <div class="p-2 mr-3 border-2 border-white rounded-full w-14 h-14">
        <picture>
          <source type="image/webp" :srcset="user.srcset" />
          <img
            :src="user.src"
            alt="user avatar"
            class="block object-cover rounded-full"
          />
        </picture>
      </div>
      <div v-if="hasTeammates" class="flex items-center">
        <div
          v-for="(player, id) in players"
          :key="id"
          class="p-2 border-2 border-white rounded-full w-14 h-14"
          :class="{ 'mr-3': id !== players.length - 1 }"
        >
          <picture>
            <source type="image/webp" :srcset="player.srcset" />
            <img
              :src="player.src"
              alt="user avatar"
              class="block object-cover rounded-full"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="flex items-center">
      <div class="w-3 mr-12 bg-white h-xs"></div>
      <span v-if="!matchIsFound" class="footnote-light"
        ><span class="caption-small-light">{{
          formatNum(game.playersOnline)
        }}</span>
        in Queue</span
      >
      <span v-else class="footnote-light">{{ matchmaking.consent }}</span>
    </div>
    <button
      class="absolute flex items-center px-8 py-6 outline-none  focus:outline-none matchmaking__button matchmaking-button"
      :class="{ _found: matchIsFound }"
      @click="handleAction"
    >
      <span class="mr-24 callout-small-light-bold">{{
        matchmaking.button.status
      }}</span>
      <timer
        v-if="lobby === $options.LOBBIES.matchmaking"
        ref="timer"
        :time="matchmaking.button.time"
        class="callout-small-light-reg"
      />
      <svg
        v-if="matchIsFound"
        class="w-6 h-3 ml-8 matchmaking-button__arrow matchmaking-button__icon"
      >
        <use xlink:href="~/assets/images/svg/arrow-right.svg#arrow-right"></use>
      </svg>
      <svg
        v-else
        class="w-4 h-4 ml-8 matchmaking-button__close matchmaking-button__icon"
      >
        <use xlink:href="~/assets/images/svg/close.svg#close"></use>
      </svg>
    </button>
  </section>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { MATCHMAKING_LOBBY, LOBBIES, OPPONENT_FOUND_TIME } from '~/utils/const'
import utils from '~/utils'
import timer from '~/components/matchmaking/timer'

export default {
  LOBBIES,
  components: {
    timer,
  },
  mixins: [utils],
  data() {
    return {
      changeMatchStatus: null,
    }
  },
  computed: {
    ...mapGetters('game', [
      'matchIsFound',
      'game',
      'players',
      'gameModalTemplate',
    ]),
    ...mapGetters('user', ['user']),
    ...mapGetters('lobby', ['lobby']),
    matchmaking() {
      return this.matchIsFound
        ? MATCHMAKING_LOBBY.matched
        : MATCHMAKING_LOBBY.search
    },
    hasTeammates() {
      return this.players.some((player) => player.name)
    },
  },
  watch: {
    lobby: {
      immediate: true,
      handler(newLobby) {
        if (newLobby === LOBBIES.matchmaking) {
          this.changeMatchStatus = setTimeout(
            () => this.updateMatch(true),
            OPPONENT_FOUND_TIME,
          )
        } else {
          clearTimeout(this.changeMatchStatus)
        }
      },
    },
  },
  methods: {
    ...mapActions('game', [
      'updateMatch',
      'renderGameModalTemplate',
      'changeGameModalVisibility',
    ]),
    ...mapActions('lobby', ['changeLobby']),
    leaveMatchmaking() {
      this.changeLobby(LOBBIES.personal)
      this.updateMatch(false)
    },
    startGame() {
      if (!this.gameModalTemplate) this.renderGameModalTemplate()
      this.changeGameModalVisibility()
    },
    stopTimer() {
      this.$refs.timer.stopTimer()
    },
    handleAction() {
      if (this.matchIsFound) {
        this.stopTimer()
        this.startGame()
      } else {
        this.leaveMatchmaking()
      }
    },
  },
}
</script>
<style lang="sass" scoped>
.matchmaking
  background: rgba(41, 56, 148, 0.9)
  transition: background 0.4s
  &._found
    background: rgba(27,27,27, 0.9)
  &-button
    background: var(--dark-gray-color)
    transition: background 0.4s
    right: -2rem
    bottom: -2rem
    z-index: 3
    &._found
      background: var(--blue-color)
    &__icon
      color: #ffffff
</style>
