<template>
  <span class="flex justify-center min-w-10">{{ `${min}:${sec}` }}</span>
</template>
<script>
import { mapActions } from 'vuex'
import { LOBBIES } from '~/utils/const'
export default {
  props: {
    time: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      period: this.time,
      timer: null,
    }
  },
  computed: {
    min() {
      const mins = Math.floor(this.period / 60)
      return mins > 0 ? mins : '00'
    },
    sec() {
      const secs = this.period % 60
      return secs > 0 ? (Math.floor(secs / 10) > 0 ? secs : '0' + secs) : '00'
    },
  },
  watch: {
    time(newTime) {
      this.period = newTime
    },
    sec(secLeft) {
      if (secLeft === '00' || secLeft === '0') {
        this.changeLobby(LOBBIES.personal)
        this.updateMatch(false)
      }
    },
  },
  mounted() {
    this.timer = setInterval(() => this.period--, 1000)
  },
  beforeDestroy() {
    clearInterval(this.timer)
  },
  methods: {
    ...mapActions('lobby', ['changeLobby']),
    ...mapActions('game', ['updateMatch']),
    stopTimer() {
      clearInterval(this.timer)
    },
  },
}
</script>
