.accordeon {
  overflow: hidden;
  &-rows {
    overflow: hidden;
  }
  &-row {
    width: 100%;
    overflow: hidden;
    &__pointer {
      transform: rotate(90deg);
    }
    &__label {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      border-top: 1px solid var(--concrete-color);
    }
    &__list {
      max-height: 0;
      transition: all .35s;
    }
    &__input {
      position: absolute;
      opacity: 0;
      z-index: -1;
      &:checked {
        + .accordeon-row__label {
          & .accordeon-row__pointer {
            transition: all 0.35s;
            transform: rotate(270deg);
          }
        }
        ~ .accordeon-row__list {
          max-height: 100vh;
        }
      }
    }
  }
}
