.body-dark {
	@apply text-lg;
    letter-spacing: -0.75px;
	color: var(--dark-gray-color);
}

.body-light {
	@apply text-lg;
    letter-spacing: -0.75px;
	color: var(--white-color);
}

.callout-medium-dark {
    @apply text-base;
    color: var(--dark-gray-color);
    letter-spacing: -0.5px;
    font-weight: bold;
}

.callout-medium-light {
    @apply text-base;
    color: var(--white-color);
    letter-spacing: -0.5px;
    font-weight: bold;
}

.callout-small-dark-bold {
    @apply text-sm;
    color: var(--dark-gray-color);
    letter-spacing: -0.5px;
    font-weight: bold;
}

.callout-small-light-bold {
    @apply text-sm;
    color: var(--white-color);
    letter-spacing: -0.5px;
    font-weight: bold;
}

.callout-small-dark-reg {
    @apply text-sm;
    color: var(--dark-gray-color);
    letter-spacing: -0.5px;
}

.callout-small-light-reg {
    @apply text-sm;
    color: var(--white-color);
    letter-spacing: -0.5px;
}

.footnote-lightgray {
    @apply text-xs;
    color: var(--light-gray-color);
}

.footnote-light {
    @apply text-xs;
    color: var(--white-color);
}

.caption-small-dark {
    @apply text-xs;
    color: var(--dark-gray-color);
    font-weight: bold;
}

.caption-small-light {
    @apply text-xs;
    color: var(--white-color);
    font-weight: bold;
}

.caption-small-red {
    @apply text-xs;
    color: var(--red-color);
    font-weight: bold;
}