.title-super-dark {
	@apply text-5xl tracking-tighter leading-11;
	color: var(--dark-gray-color);
	font-weight: bold;
}

.title-super-light {
	@apply text-5xl tracking-tighter leading-11;
	color: var(--white-color);
	font-weight: bold;
}

.title-large-dark {
	@apply text-4xl tracking-tight;
	color: var(--dark-gray-color);
	font-weight: bold;
}

.title-large-white {
	@apply text-4xl tracking-tight;
	color: var(--white-color);
	font-weight: bold;
}

