<template>
  <img
    src="~/assets/images/svg/g-large-part.svg"
    class="absolute bottom-0 left-0 g-large z-1"
    :class="{ 'visible opacity-100': show, 'invisible opacity-0': !show }"
    alt="Gfinity large logo"
  />
</template>
<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
<style lang="sass" scoped>
.g-large
  width: 23.4375rem
  height: 50.75rem
  transition: all 0.5s
</style>
