<template>
  <nav class="relative flex items-center justify-between nav">
    <div class="relative">
      <div class="flex items-center justify-center nav__brand nav-brand">
        <img
          src="~/assets/images/svg/gfinity-logo.svg"
          class="nav-brand__logo"
        />
      </div>
      <button
        class="absolute left-0 flex items-center justify-center border-none outline-none  max-h-0 z-4 focus:outline-none"
        :class="{
          'nav__brand nav-brand _back': showBack,
          nav__transparent: matchIsFound,
        }"
        @click="leaveMatchmaking"
      >
        <div class="relative">
          <svg v-if="showReturnIcon" class="nav-brand__back arrow-icon _white">
            <use
              xlink:href="~/assets/images/svg/arrow-left.svg#arrow-left"
            ></use>
          </svg>
        </div>
      </button>
    </div>
    <div class="relative flex items-center nav__menu nav-menu z-3">
      <h1 class="uppercase nav-menu__title callout-small-dark-bold">
        {{ game.name || 'Your game' }}
      </h1>
      <img
        src="~/assets/images/svg/burger-menu.svg"
        class="w-5 h-3 mx-6 nav-menu__icon"
      />
    </div>
  </nav>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { LOBBIES } from '~/utils/const'
export default {
  props: {
    showBack: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showReturnIcon: false,
    }
  },
  computed: {
    ...mapGetters('game', ['game', 'matchIsFound']),
  },
  watch: {
    showBack(val) {
      if (val) {
        setTimeout(() => (this.showReturnIcon = true), 1000)
      } else {
        this.showReturnIcon = false
      }
    },
  },
  methods: {
    ...mapActions('game', ['updateMatch']),
    ...mapActions('lobby', ['changeLobby']),
    leaveMatchmaking() {
      this.changeLobby(LOBBIES.personal)
      this.updateMatch(false)
    },
  },
}
</script>
<style lang="sass" scoped>
.nav
  &-brand
    width: 6.5625rem
    height: 6.5625rem
    max-height: 6.5625rem
    padding: 1rem
    background: var(--dark-gray-color)
    &._back
      top: 6.525rem
      will-change: max-height
      transition: all 1s
    &__logo
      width: 4.5625rem
      height: 0.875rem
  &__transparent
    background: rgba(27,27,27, 0.9)
</style>
