<template>
  <div
    class="absolute pointer-events-none z-2 ronaldo"
    :class="{ _centered: centered }"
  >
    <picture>
      <source type="image/webp" srcset="@/assets/images/ronaldo-lg.webp" />
      <img
        src="~/assets/images/ronaldo-lg.png"
        alt="ronaldo"
        class="ronaldo__image"
      />
    </picture>
  </div>
</template>
<script>
export default {
  props: {
    centered: {
      type: Boolean,
      default: true,
    },
  },
}
</script>
<style lang="sass" scoped>
.ronaldo
  top: -19rem
  right: -11rem
  will-change: left, top
  transition: all 2s
  &._centered
    top: 5rem
    right: -2.5rem
  &__image
    width: 23.4375rem
    height: 43.5rem
</style>
