<template>
  <div class="mx-4">
    <button
      class="flex items-center w-full py-4 outline-none  matchmaking-lobby-btn focus:outline-none"
      @click="$emit('proceedToMatchmakingLobby')"
    >
      <svg class="mr-6 personal-leave__icon arrow-icon _black">
        <use xlink:href="~/assets/images/svg/arrow-left.svg#arrow-left"></use>
      </svg>
      <span class="personal-leave__text callout-medium-dark"
        >Matchmaking Lobby</span
      >
    </button>
  </div>
</template>
<style lang="sass" scoped>
.matchmaking-lobby-btn
  border: none
  border-bottom: 1px solid var(--concrete-color)
</style>
