<template>
  <button
    class="flex items-center w-full px-4 py-8 outline-none  focus:outline-none play-btn"
    @click="$emit('play')"
  >
    <span class="mr-24 callout-small-light-bold">Play Now</span>
    <span class="callout-small-light-reg"
      >{{ formatNum(game.playersOnline) }} in Queue</span
    >
    <svg class="w-6 h-3 ml-auto right-arrow">
      <use xlink:href="~/assets/images/svg/arrow-right.svg#arrow-right"></use>
    </svg>
  </button>
</template>
<script>
import { mapGetters } from 'vuex'
import utils from '~/utils'
export default {
  mixins: [utils],
  computed: {
    ...mapGetters('game', ['game']),
  },
}
</script>
<style lang="sass" scoped>
.play-btn
  background: var(--blue-color)
.right-arrow
  color: #ffffff
</style>
