<template>
  <div class="flex flex-col profile">
    <div class="profile__image" :class="{ _blank: !profile.src }">
      <picture>
        <source type="image/webp" :srcset="profile.src" />
        <img
          v-if="profile.src"
          :src="profile.src"
          alt="profile image"
          class="block object-cover h-full"
        />
      </picture>
    </div>
    <p class="mt-4 profile__pos footnote-lightgray">
      {{ profile.position || 'Team Player' }} /
    </p>
    <div v-if="profile.name" class="mt-2 profile__name callout-medium-dark">
      {{ profile.name }}
    </div>
    <button
      v-if="!profile.name"
      class="flex items-center mt-2 border-none outline-none  focus:outline-none profile__name _invite"
      @click="showForm"
    >
      <span v-if="!profile.name" class="callout-medium-dark">
        Invite Player
      </span>
      <svg v-if="!profile.name" class="w-2 h-3 ml-3 rotate-180">
        <use xlink:href="~/assets/images/svg/caret-left.svg#caret"></use>
      </svg>
    </button>
    <div
      v-if="profile.ready"
      class="flex items-center mt-4 profile__info profile-info"
    >
      <div class="flex items-center mr-3 uppercase profile-info__status">
        Ready
      </div>
      <div class="profile-info__level caption-small-red">
        G<sup>{{ profile.level }}</sup>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: {
    profile: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    ...mapGetters('user', ['userModalTemplate']),
  },
  methods: {
    ...mapActions('user', [
      'renderUserModalTemplate',
      'changeUserModalVisibility',
    ]),
    showForm() {
      if (!this.userModalTemplate) this.renderUserModalTemplate()
      this.changeUserModalVisibility()
    },
  },
}
</script>
<style lang="sass" scoped>
.profile
  &__image
    width: 8.75rem
    height: 11.7rem
    box-shadow: 0 2px 12px 0 rgba(107, 107, 101, 0.25)
    border-radius: 6px
    &._blank
      border: 1px solid var(--concrete-color)
      background: var(--sand-color)
      box-shadow: none
    & img
      border-radius: 6px
  &-info
    &__status
      font-size: 0.625rem
      letter-spacing: 1.5px
      border: 1px solid var(--dark-gray-color)
      font-weight: bold
</style>
