<template>
  <div class="mx-4 settings accordeon">
    <div class="accordeon__rows accordeon-rows">
      <div
        v-for="tab in settingsTabs"
        :key="tab.title"
        class="accordeon-rows__row accordeon-row"
      >
        <input :id="tab.title" class="accordeon-row__input" type="checkbox" />
        <label class="w-full py-4 accordeon-row__label" :for="tab.title">
          <div class="flex items-center justify-between w-full">
            <div class="flex items-center">
              <div class="callout-small-dark-bold accordeon-row__title">
                {{ formatString(tab.title) }}
              </div>
              <div
                class="callout-small-dark-reg accordeon-row__option _selected"
              >
                {{ tab.selected.name }}
              </div>
            </div>
            <svg class="w-2 h-3 mr-1 accordeon-row__pointer">
              <use xlink:href="~/assets/images/svg/caret-left.svg#caret"></use>
            </svg>
          </div>
        </label>
        <ul class="accordeon-row__list">
          <li
            v-for="(option, order) in tab.options"
            :key="option.id"
            class="callout-small-dark-reg accordeon-row__option"
            :class="{
              'pt-2': order === 0,
              'pt-6': order !== 0,
              'pb-6': order === tab.options.length - 1,
            }"
            @click="updateSettings({ tab, option })"
          >
            {{ option.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import utils from '~/utils'
export default {
  mixins: [utils],
  props: {
    settings: {
      type: Object,
      required: true,
    },
  },
  computed: {
    settingsTabs() {
      const tabs = []
      Object.keys(this.settings).forEach((param) => {
        const title = param
        const selected = this.settings[param].find((item) => item.selected)
        const options = this.settings[param].filter((item) => !item.selected)
        tabs.push({ title, selected, options })
      })

      return tabs
    },
  },
  methods: {
    ...mapActions('game', ['updateSettings']),
  },
}
</script>
<style lang="sass" scoped>
.accordeon
  &-row
    &__title
      min-width: 5.625rem
      max-width: 6rem
    &__option
      margin-left: 9.625rem
      background: var(--sand-color)
      &._selected
        margin-left: 4rem
</style>
