<template>
  <section class="mx-4 personal">
    <div class="flex items-center mt-4 personal__username">
      <h2 class="mr-3 title-large-dark">
        {{ user.name ? `${user.name}'s` : 'Your' }} lobby
      </h2>
      <svg class="w-3 h-4">
        <use xlink:href="~/assets/images/svg/lock.svg#lock"></use>
      </svg>
    </div>
    <div class="flex items-center personal__badge personal-badge">
      <span class="uppercase personal-badge__text">{{
        game.name || 'Your game'
      }}</span>
    </div>
    <div class="grid grid-cols-2 mt-6 gap-x-4">
      <profile :profile="user" />
      <profile v-for="prof in players" :key="prof.name" :profile="prof" />
    </div>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
import profile from './profile.vue'
export default {
  components: { profile },
  computed: {
    ...mapGetters('user', ['user']),
    ...mapGetters('game', ['game', 'players']),
  },
}
</script>
<style lang="sass" scoped>
.personal
  &-badge
    background: var(--dark-gray-color)
    width: fit-content
    padding: 0.2rem 0.32rem
    border-top-right-radius: 2rem
    border-bottom-right-radius: 2rem
    &__text
      color: var(--white-color)
      font-weight: bold
      font-size: 0.625rem
      letter-spacing: 1.5px
</style>
