<template>
  <div class="relative overflow-hidden">
    <TheHeader :show-back="lobby === $options.LOBBIES.matchmaking" />
    <nuxt />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import TheHeader from '~/components/header.vue'
import { LOBBIES } from '~/utils/const'
export default {
  LOBBIES,
  components: {
    TheHeader,
  },
  computed: {
    ...mapGetters('lobby', ['lobby']),
  },
}
</script>
