<template>
  <main>
    <div class="main">
      <ronaldo :centered="lobby === $options.LOBBIES.matchmaking" />
      <personal
        class="main__personal"
        :class="{ _hide: lobby === $options.LOBBIES.matchmaking }"
      />
      <template v-if="matchmakingLobbyTemplate">
        <matchmaking
          class="main__matchmaking"
          :class="{
            _show: lobby === $options.LOBBIES.matchmaking,
          }"
        />
      </template>
    </div>
    <g-logo-large :show="lobby === $options.LOBBIES.matchmaking" />
    <template v-if="userModalTemplate">
      <user-modal v-if="userModal" />
    </template>
    <template v-if="gameModalTemplate">
      <start-game-modal v-if="gameModal" />
    </template>
  </main>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import ronaldo from '~/components/ronaldo'
import personal from '~/components/personal/personal-lobby'
import { LOBBIES } from '~/utils/const'
import matchmaking from '~/components/matchmaking/matchmaking-lobby'
import UserModal from '~/components/modals/user-modal'
import StartGameModal from '~/components/modals/start-game-modal'
import GLogoLarge from '~/components/g-logo-large'
export default {
  LOBBIES,
  components: {
    ronaldo,
    personal,
    matchmaking,
    UserModal,
    GLogoLarge,
    StartGameModal,
  },
  computed: {
    ...mapGetters('lobby', ['lobby']),
    ...mapGetters('game', [
      'game',
      'gameModalTemplate',
      'gameModal',
      'matchmakingLobbyTemplate',
    ]),
    ...mapGetters('user', ['userModalTemplate', 'userModal']),
  },
  methods: {
    ...mapActions('lobby', ['changeLobby']),
  },
}
</script>
<style lang="scss" scoped>
.main {
  &__personal {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
    overflow: hidden;
    &._hide {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
  &__matchmaking {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    &._show {
      @apply px-4 pt-40 pb-20 mb-16 w-19/20;
      height: 100%;
      opacity: 1;
      visibility: visible;
      transition: all 1s ease-in-out;
      overflow: unset;
    }
  }
}
</style>
