<template>
  <modal :footer="false">
    <div class="text-center">
      No point mate, United's gonna win anyways &#128540;
    </div>
  </modal>
</template>
<script>
import { mapActions } from 'vuex'
import modal from '~/components/modals/modal'
import { LOBBIES, GAME_OVER_TIME } from '~/utils/const'
export default {
  components: { modal },
  mounted() {
    setTimeout(() => {
      this.changeGameModalVisibility()
      this.changeLobby(LOBBIES.personal)
    }, GAME_OVER_TIME)
  },
  methods: {
    ...mapActions('game', ['changeGameModalVisibility']),
    ...mapActions('lobby', ['changeLobby']),
  },
}
</script>
