<template>
  <modal @save="save" @cancel="changeUserModalVisibility">
    <div class="user-modal">
      <div class="flex items-center mb-5">
        <svg class="mr-4 arrow-icon" @click="back">
          <use xlink:href="~/assets/images/svg/arrow-left.svg#arrow-left"></use>
        </svg>
        <div v-if="active" class="user-modal__image">
          <picture>
            <source type="image/webp" :srcset="active.src" />
            <img
              :src="active.src"
              alt="profile image"
              class="block object-cover h-full"
              :class="active.class"
            />
          </picture>
        </div>
        <svg class="ml-4 _rotate arrow-icon" @click="forward">
          <use xlink:href="~/assets/images/svg/arrow-left.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="mb-5">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Name</label
        >
        <div class="relative mt-1 rounded-md shadow-sm">
          <input
            id="name"
            v-model="player.name"
            type="text"
            name="name"
            class="block w-full pr-10 rounded-md focus:outline-none sm:text-sm"
            :class="{
              'text-red-900 placeholder-red-300 border-red-300 focus:ring-red-500 focus:border-red-500':
                errors.name,
            }"
            placeholder="name"
            aria-invalid="true"
            aria-describedby="name-error"
          />
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none "
          >
            <svg
              v-if="errors.name"
              class="w-5 h-5 text-red-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
        <p v-if="errors.name" id="name-error" class="mt-2 text-sm text-red-600">
          Your name must be valid
        </p>
      </div>
      <div class="mb-5">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Position</label
        >
        <div class="relative mt-1 rounded-md shadow-sm">
          <input
            id="position"
            v-model="player.position"
            type="text"
            name="position"
            class="block w-full pr-10 rounded-md focus:outline-none sm:text-sm"
            :class="{
              'text-red-900 placeholder-red-300 border-red-300 focus:ring-red-500 focus:border-red-500':
                errors.position,
            }"
            placeholder="position"
            aria-invalid="true"
            aria-describedby="position-error"
          />
          <div
            class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none "
          >
            <svg
              v-if="errors.position === true"
              class="w-5 h-5 text-red-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
        </div>
        <p
          v-if="errors.position === true"
          id="position-error"
          class="mt-2 text-sm text-red-600"
        >
          Your position must be valid.
        </p>
      </div>
    </div>
  </modal>
</template>
<script>
import { mapActions } from 'vuex'
import { AVATARS } from '~/utils/const'
import modal from '~/components/modals/modal'
export default {
  components: { modal },
  data() {
    return {
      avatars: AVATARS.filter((avatar) => !avatar.taken),
      avatarId: 1,
      errors: {},
      player: {
        name: '',
        position: '',
      },
    }
  },
  computed: {
    active() {
      return this.avatars.find((avatar) => avatar.id === this.avatarId)
    },
  },
  methods: {
    ...mapActions('user', ['changeUserModalVisibility']),
    ...mapActions('game', ['savePlayer']),
    forward() {
      this.avatarId < this.avatars.length
        ? this.avatarId++
        : (this.avatarId = 1)
    },
    back() {
      this.avatarId > 1
        ? this.avatarId--
        : (this.avatarId = this.avatars.length)
    },
    validate() {
      const errors = {}
      errors.name = !this.player.name
      errors.position = !this.player.position
      this.errors = errors
      return Object.values(this.errors).some((value) => !value)
    },
    save() {
      if (!this.validate()) return
      const { name, position } = this.player
      this.savePlayer({
        name,
        position,
        src: this.active.src,
        srcset: this.active.srcset,
      })
      this.changeUserModalVisibility()
    },
  },
}
</script>
<style lang="sass" scoped>
.arrow-icon
  &._rotate
    transform: rotate(180deg)
</style>
